@{
    ViewBag.Title = "Liên hệ";
}

<div   class="container">
    <h1 style="margin-bottom:40px;">Liên Hệ</h1>
    <p>Cảm ơn bạn đã ghé thăm trang web của chúng tôi. Nếu bạn có bất kỳ câu hỏi hoặc phản hồi nào, vui lòng liên hệ với chúng tôi:</p>

    <p><strong>Email:</strong> info@example.com</p>
    <p><strong>Điện thoại:</strong> 0923456789</p>

    <p>Nếu có điều gì chúng tôi có thể hỗ trợ, vui lòng liên hệ chúng tôi bằng cách nào đó sau đây:</p>

    <ul>
        <li>Đến trực tiếp cửa hàng của chúng tôi.</li>
        <li>Gọi điện thoại cho chúng tôi theo số đã cung cấp.</li>
        <li>Gửi email cho chúng tôi.</li>
    </ul>
</div>